<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/1291f2bf-5eef-41bb-9995-e2341e5dd27a/resourcegroups/BioApp20210125001401ResourceGroup/providers/Microsoft.Web/sites/BioApp20210125001401</ResourceId>
    <ResourceGroup>BioApp20210125001401ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bioapp20210125001401.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://bioapp20210125001401.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>2bdc54a8-1c19-4f83-ac1a-0028be1f3b76</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sn1-169.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BioApp20210125001401</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BioApp20210125001401</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>