@model BioApp.Models.AnalysisMarkerNormValue

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AnalysisMarkerNormValue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="AnalysisMarkerId" class="control-label"></label>
                <select asp-for="AnalysisMarkerId" class="form-control" asp-items="ViewBag.AnalysisMarkerId"></select>
                <span asp-validation-for="AnalysisMarkerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientGroupId" class="control-label"></label>
                <select asp-for="PatientGroupId" class="form-control" asp-items="ViewBag.PatientGroupId"></select>
                <span asp-validation-for="PatientGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="minValue" class="control-label"></label>
                <input asp-for="minValue" class="form-control" />
                <span asp-validation-for="minValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxValue" class="control-label"></label>
                <input asp-for="maxValue" class="form-control" />
                <span asp-validation-for="maxValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
