@model IEnumerable<BioApp.Models.Patient>

@{
    ViewData["Title"] = "SkinSafe";
}

<div class="navigation_block">
    <h1 class="app_name">SkinSafe</h1>
@*    @Html.ActionLink("Перейти в NavigationPage","NavigationPage")
*@
</div>

