@model IEnumerable<BioApp.Models.Patient>


@{
    ViewData["Title"] = "NavigationPage";
    var patID = "";
}

@*<div class="name_block">
    <h1 class="app_name">SkinSafe</h1>
    <!-- <button onclick="window.location.href='http://vk.com'">vk.com</button>
    <a href="./img/analysis.png">image</a> -->
</div>*@


<div class="name_block">


<a class = "btn" asp-action="Create" asp-controller="Patients">  
<img alt="Qries" src="~/img/patient_logo.png" background-color="inherit" width="200" height="200" /></a>

    <a class="btn" asp-action="Index" asp-controller="CommonAnalysis" asp-route-PatientId="be42304d-298b-49e5-426a-08db7aca8333">
    <img alt="Qries" src="~/img/molek_logo.png" background-color="inherit" width="200" height="200" />
</a>
    <a class="btn" asp-action="Index" asp-controller="MKBClassifiers" asp-route-PatientId="be42304d-298b-49e5-426a-08db7aca8333">
    <img alt="Qries" src="~/img/gist_logo.png" background-color="inherit" width="200" height="200" />
</a>
    <a class="btn" asp-action="Delete" asp-controller="Patients" asp-route-id="be42304d-298b-49e5-426a-08db7aca8333">
    <img alt="Qries" src="~/img/abcd_logo.png" background-color="inherit" width="200" height="200" />
</a>

</div>
