@model IEnumerable<BioApp.Models.Patient>


@{
    ViewData["Title"] = "NavigationPage";

}

<div class="name_block">
    <h1 class="app_name">SkinSafe</h1>
    <!-- <button onclick="window.location.href='http://vk.com'">vk.com</button>
    <a href="./img/analysis.png">image</a> -->
</div>



<a asp-action="Edit" asp-controller="Patients" asp-route-id=be42304d-298b-49e5-426a-08db7aca8333>
    <img alt="Qries" src="~/img/edit.png" background-color="inherit" width="30" height="30" />
</a>
<a asp-action="Index" asp-controller="CommonAnalysis" asp-route-PatientId="be42304d-298b-49e5-426a-08db7aca8333">
    <img alt="Qries" src="~/img/analysis.png" background-color="inherit" width="30" height="30" />
</a>
<a asp-action="Index" asp-controller="MKBClassifiers" asp-route-PatientId="be42304d-298b-49e5-426a-08db7aca8333">
    <img alt="Qries" src="~/img/diagnosis.png" background-color="inherit" width="30" height="30" />
</a>
<a asp-action="Delete" asp-controller="Patients" asp-route-id="be42304d-298b-49e5-426a-08db7aca8333">
    <img alt="Qries" src="~/img/delete.png" background-color="inherit" width="30" height="30" />
</a>


