@model IEnumerable<BioApp.Models.Patient>


@{
    ViewData["Title"] = "NavigationPage";
    var patID = "";
}

@*<div class="name_block">
        <h1 class="app_name">SkinSafe</h1>
        <!-- <button onclick="window.location.href='http://vk.com'">vk.com</button>
        <a href="./img/analysis.png">image</a> -->
    </div>*@


<div class="name_block">


    <a class="btn" asp-action="Create" asp-controller="Patients">
        <img alt="Qries" src="~/img/patient_logo.png" background-color="inherit" width="200" height="200" />
        <div class="rectangle text_right">Персональные и клинические</div>
        <div class="rectangle text_right">данные пациента</div>
    </a>

    <a class="btn" asp-action="Index2" asp-controller="Patients">
        <img alt="Qries" src="~/img/molek_logo.png" background-color="inherit" width="200" height="200" />
        <div class="rectangle text_right">Молекулярно-генетический</div>
        <div class="rectangle text_right">профиль пациента</div>
    </a>
    <a class="btn" asp-action="Index" asp-controller="MKBClassifiers" asp-route-PatientId="be42304d-298b-49e5-426a-08db7aca8333">
        <img alt="Qries" src="~/img/gist_logo.png" background-color="inherit" width="200" height="200" />
        <div class="rectangle text_right">Гистологическое заключение</div>
        <div class="rectangle text_right">и анализ изображения</div>
        <div class="rectangle text_right">микропрепарата образования</div>
        <div class="rectangle text_right">кожи пациента</div>
        <div class="rectangle text_right">с помощью нейронной сети</div>
    </a>
    <a class="btn" asp-action="Delete" asp-controller="Patients" asp-route-id="be42304d-298b-49e5-426a-08db7aca8333">
        <img alt="Qries" src="~/img/abcd_logo.png" background-color="inherit" width="200" height="200" />
        <div class="rectangle text_right">ABCDE-дерматологический</div>
        <div class="rectangle text_right">анализ образования кожи</div>
        <div class="rectangle text_right">человека</div>
    </a>

</div>
