@model BioApp.Models.MelanomaType

@{
    ViewData["Title"] = "Редактировать";
}

<h3>Редактировать тип метаномы <b>@Html.DisplayFor(modelItem => modelItem.name)</b></h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nameEng" class="control-label"></label>
                <input asp-for="nameEng" class="form-control" />
                <span asp-validation-for="nameEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nameLat" class="control-label"></label>
                <input asp-for="nameLat" class="form-control" />
                <span asp-validation-for="nameLat" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" /> |     <a asp-action="Index">Назад к списку</a>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
